/* ----------------- Dojo Overrides -----------------*/
.dijitToolbar {
    border: 1px solid #B5BCC7 !important;
}

.dijitContentPane {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 !important;
}

.dijitAccordionTitle {
    padding: 2px 7px 1px !important;
}

/* ----------------- Masthead -----------------*/
.masthead
{
    background-color: #036;
    background-image: url("../images/masthead/masthead_grad.png");
    background-repeat: repeat-y;
    background-position: right;
    width: 100%;
    height: 25px;

    color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    line-height: 11px;
    vertical-align: middle;
}
table.masthead td
{

}
span.logo
{
    width: 30px;
}
table.masthead td.role_field
{
    text-align: right;
    vertical-align: middle;
    width: 10%;
    white-space: nowrap;
}
table.masthead td.user_field
{
    text-align: right;
    vertical-align: middle;
    width: 20%;
    white-space: nowrap;
}
span.mastheadTitle
{
    padding-left:         10px;
    text-align:           left;
    vertical-align:       middle;
}

/* ----------------- Accordion -----------------*/
a.document {
    font-weight: 500;
    font-size: 11px;
}

/* ----------------- The Blue Heading In Central Pane -----------------*/
div.heading{
    padding-top:0;
    border:1px solid;
    height:5px;border-radius:0;
    background-color:#4B6F93;
    color:white;
    text-shadow:0 0;
    margin-bottom:0;
}

/* ----------------- NOC Screens Related -----------------*/
.rowtext {
    font-size: 10px;
    font-family:Helvetica Neue;
}

.onlineTxRowOdd {
    background-color:#F2F7E8
}

.timegroup{
    position:relative;
    top:2px; left:2px;
}

.chart {
    position:relative;
    top:2px; left:2px;
}

.dgrid-scroller{
    overflow:hidden!important;
}

.dgrid-cell {
    text-align:center!important;
}

.topoIconContainer {
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:5em; height:5em;
    line-height:5em;
    text-align:center;
    z-index:20;
    position:relative;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;
    padding:0.5em;
    font-size:0.9em;
}

.topoIconContainer:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.aLabel {
    background-color:white;
    padding:0.4em;
    font:12px sans-serif;
    color:#444;
    z-index:21;
    border:1px dotted gray;
    opacity:0.8;
    filter:alpha(opacity=80);
}

.active {
    border:1px dotted green;
}
.hover {
    border:1px dotted red;
}

._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }
.hl { border:3px solid red; }
#debug { position:absolute; background-color:black; color:red; z-index:5000 }

/* ----------------- For the minimize, close buttons in Analysis Pane -----------------*/
.floatRight {
    float:right;
}

/* ----------------- For the Instructions area in Form -----------------*/
div.Instructions {
    border-color:#FFFFFF #CCCCCC #CCCCCC #FFFFFF;
    border-style:solid;
    border-width:1px;
    color:#777777;
    width:auto;
    padding:2px 2px 4px 4px;
}

/* ----------------- For the Apps and Layers Tagging -----------------*/
SPAN.tagMatches {
    margin-left: 10px;
}

SPAN.tagMatches SPAN {
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: pointer;

}

/* ----------------- Configuration Form Internals -----------------*/
form.dijitContentPane {
    background-color:#F0F0F0;
    border-color:#CCCCCC #666666 #666666 #CCCCCC;
    border-style:solid;
    border-width:1px;
}

.dijitInputInner {
    font-size: 11px !important;
}

label  {
    font-size: 11px !important;
    cursor: default  !important;
}

.tableContainer-table {
    padding-left: 10px;
}

.configTableHead {
    font-size: 11px;
    padding-left: 55px;
    text-align: left;
}

/* ----------------- Topology -----------------*/
.link {
    stroke: #000;
    stroke-opacity: .6;
}

/* ---------- Application Alerts Grid ---------*/
.field-COMPONENT_AVAILABILITY_critical,
.field-COMPONENT_STATIC_critical,
.field-TRANSACTION_ONLINE_ANALYTIC_critical,
.field-TRANSACTION_BATCH_ANALYTIC_critical,
.field-COMPONENT_ANALYTIC_critical {
    color: red;
    font-weight:bold;
}

.field-COMPONENT_AVAILABILITY_major,
.field-COMPONENT_STATIC_major,
.field-TRANSACTION_ONLINE_ANALYTIC_major,
.field-TRANSACTION_BATCH_ANALYTIC_major,
.field-COMPONENT_ANALYTIC_major {
    color: orange;
    font-weight:bold;
}

.field-COMPONENT_AVAILABILITY_minor,
.field-COMPONENT_STATIC_minor,
.field-TRANSACTION_ONLINE_ANALYTIC_minor,
.field-TRANSACTION_BATCH_ANALYTIC_minor,
.field-COMPONENT_ANALYTIC_minor {
    color: green;
}

.dgrid-cell {
    font-size: 11px;
}

.field-appName {
    width: 120px;
}

.dgrid-cell-padding {
    padding: 1px !important;
}

/* ---------- Cubism Horizon Chart ---------*/

cubism-header {
    padding: 6px 0;
}

.cubism-group {
    margin-bottom: 1em;
}

.cubism-axis {
    font: 10px sans-serif;
    position: relative;
    pointer-events: none;
    z-index: 2;
}

.cubism-axis text {
    -webkit-transition: fill-opacity 250ms linear;
}

.cubism-axis path {
    display: none;
}

.cubism-axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.cubism-axis.top {
    background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    top: 0px;
    padding: 50px 0 24px 0;
}

.cubism-axis.bottom {
    background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    bottom: 30px;
    padding: 24px 0 0 0;
}

.cubism-horizon {
    border-bottom: solid 1px #000;
    overflow: hidden;
    position: relative;
}

.cubism-horizon {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.cubism-horizon + .cubism-horizon {
    border-top: none;
}

.cubism-horizon canvas {
    display: block;
}

.cubism-horizon .cubism-title,
.cubism-horizon .cubism-value {
    bottom: 0;
    line-height: 30px;
    margin: 0 6px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    white-space: nowrap;
}

.cubism-horizon .cubism-title {
    left: 0;
}

.cubism-horizon .cubism-value {
    right: 0;
}

.cubism-line {
    background: #000;
    z-index: 2;
}









