/* ---------------- Login Dialog ---------------- */
body.login_body
{
    background-color: #eee;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%
}
table.full_HV
{
    width: 100%;
    height: 100%;
}
table.full_H
{
    width: 100%;
}
td.login_top_left
{
    background-color: #135DAB;
    background-image: url("../images/login/1px-bluegreen-gradient.png");
    background-repeat: repeat-y;
    background-position: right;
    vertical-align: top;
    width: 60%;
    height: 40%;
    padding: 25px 10px 40px 20px;
    border-bottom: 7px solid #fff;
}
td.login_top_right
{
    background-color: #fff;
    background-image: url("../images/login/login_pict_bac.png");
    background-repeat: no-repeat;
    background-position:center;
    vertical-align: top;
    width: 40%;
    height: 40%;
    border-bottom: 7px solid #fff;
    border-left: 7px solid #fff;
}
td.login_mid_right
{
    background-color: #eee;
    background-image: url("../images/login/gray_bg.png");
    background-repeat: repeat-x;
    text-align: left;
    vertical-align: top;
    width: 40%;
    padding-top: 32px;
}
td.login_mid_center
{
    background-color: #eee;
    background-image: url("../images/login/gray_bg.png");
    background-repeat: repeat-x;
    text-align:right;
    padding-top: 32px;
    width: 20%;
    vertical-align: top;
}
td.login_mid_left
{
    background-color: #eee;
    background-image: url("../images/login/gray_bg.png");
    background-repeat: repeat-x;
    text-align: left;
    padding-top: 32px;
    width: 40%;
    vertical-align: top;
}
td.login_bot_left
{
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 20px;
    padding-left: 20px;
}
td.login_bot_right
{
    font-size: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: #eee;
    text-align: left;
    width: 40%;
    height: 65px;
    vertical-align: bottom;
    padding-bottom: 20px;
}
td.login_logo
{
    text-align: left;
    vertical-align: top;
}
td.login_appname
{
    text-align: center;
    vertical-align: bottom;
}
input.login_name
{
    color: black;
    font-size: 11px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    width: 180px;
    height: 21px;
    padding-right: 5px;
    padding-left: 5px;
    border: solid 1px #596d80;
}
input.login_password
{
    color: black;
    font-size: 11px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding-right: 5px;
    padding-left: 5px;
    width: 180px;
    height: 21px;
    border: solid 1px #999;
}
td.login_fields
{
    text-align: left;
    vertical-align: middle;
    height: 34px;
    padding-bottom: 13px;
}
/*
td.login_help
{
    text-align: right;
    padding-bottom: 13px;
    height: 34px;
    vertical-align: top;
    padding-right: 20px;
}
*/
td.login_fields_label
{
    font-size: 11px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: right;
    padding-bottom: 13px;
    vertical-align: middle;
    height: 34px;
    padding-right: 10px;
}
td.login_button_field
{
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login_button
{
    color: #485464;
    font-size: 11px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #c8cbd0;
    background-image: url("../images/login/bu_bg.png");
    background-repeat: repeat-x;
    cursor: pointer;
    height: 23px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: #eee #333 #333 #eee
}

/* Adding this back in for forms. Not sure what the magic line is in here.
 * Without this, forms were coming up blank. Revisit this once we redo
 * form layout
 */
#mainContainer
{
  width:                100%;
  height:               100%;
  padding:              0px;
  margin:               0px;
  overflow:             hidden;
}
DIV#mainContainer .dijitContentPane
{
  position:             relative;
}
DIV#viewContainer
{
  padding:              0px;
  width:                auto;
}

/* '::' is valid syntax though some IDE's may not like it */
/*
 * This is to workaround FF bug 140562 -  button control with
 * 0px padding still displays a frame around its contents.
 */
.login_button::-moz-focus-inner
{
    border: 0;
    padding: 0;
}

td.login_button_field .login_button
{
    color: #fff;
    display: block;
    font: 12px Arial, sans-serif;
    background-color: transparent;
    background-image: url("../images/login/bg_button_a.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right top;
    height: 22px;
    margin-right: 6px;
    padding-right: 15px; /* sliding doors padding */
    text-decoration: none;
    float: left;
    margin-bottom: 3px;
    white-space: nowrap;
    border: none;
}

td.login_button_field .login_button span
{
    display: block;
    line-height: 14px;
    background-image: url("../images/login/bg_button_span.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    padding: 3px 0 6px 15px;
}
td.login_button_field .login_button:hover
{
    background-position: right center;
    color: white;
    outline: none medium; /* hide dotted outline in Firefox */
}
td.login_button_field .login_button:hover span
{
    background-position: left center;
    padding: 3px 0 6px 15px;
}
